/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ca3828, #323236); /* Degradê roxo-rosa */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  /* HTML base */
  html {
    font-size: 16px;
    height: 100%;
  }
  
  /* Container global */
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Conteúdo principal de páginas genéricas */
  .main-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  